@import url("./reset.css");
body, html {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

.font-title {
  font-family: "acumin-pro-condensed";
  font-weight: 900;
  font-size: 90px;
  font-style: italic;
  color: #fe5e00;
  width: 1120px;
  margin: 100px auto 0 auto;
  line-height: 1;
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.m-video {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.m-video > video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
}

.brave {
  margin: 0 auto;
  width: 1120px;
  padding: 500px 0 100px 0;
}
.brave > p {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  line-height: 1;
  font-family: "acumin-pro-condensed";
  font-weight: 900;
  font-size: 80px;
  font-style: italic;
  color: white;
}
.brave > p > span {
  font-weight: 900;
  font-size: 120px;
}

.title {
  width: 1120px;
  margin: 120px auto 0 auto;
  color: #fe5e00;
  font-size: 70px;
  font-style: oblique;
  font-weight: 600;
}

.atc-con {
  width: 1120px;
  margin: 20px auto;
}
.atc-con > p {
  width: 65%;
  margin: 30px 0;
  line-height: 1.7;
}

.atc-con-list {
  width: 1120px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.who {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.who .who-we {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.who .who-we .who-list {
  width: 30%;
  text-align: center;
  font-weight: 900;
  font-size: 15px;
}
.who .who-we .who-list > p:nth-of-type(1) {
  font-weight: 900;
  font-size: 70px;
  color: #fe5e00;
}
.who .who-we .who-list > p:nth-of-type(1) code {
  font-family: inherit;
}

.img-move {
  width: 100%;
  animation-name: ani-1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ani-1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about-v {
  width: 1120px;
  margin: 0 auto;
}
.about-v > video {
  -o-object-fit: cover;
     object-fit: cover;
}

.values {
  width: 35%;
  text-align: center;
}
.values > b {
  font-weight: 800;
  font-size: 30px;
}
.values > p {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 0;
  line-height: 1.7;
}

.jour-row {
  width: 1120px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.jour-row > div:nth-of-type(2) {
  width: 0;
  border: 2px solid #ff8200;
  margin: 0 50px;
}

.jour-col1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
}

.j-year {
  color: #fe5e00;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 20px;
  letter-spacing: -5px;
}

.j-month {
  color: #ff8200;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 10px;
}

.j-event {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 20px;
}

.j-event2 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
}

.j-img {
  width: 100%;
  margin: 10px 0;
}

.bt-black {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}
.bt-black > a {
  background-color: black;
  color: white;
  padding: 15px 25px;
  border-radius: 100px;
}
.bt-black > a:hover {
  background-color: #fe5e00;
}/*# sourceMappingURL=about.css.map */