@charset "utf-8";
@import url("./font.css");
@import "_mixin";

* {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    font-size: 16px;
    font-family: 'Pretendard';
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
b,
i,
em,
strong,
span {
    display: inline-block;
}

figure {
    margin: 0;
}

$wid : 1280px;




header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;

    .nav-b {
        width: $wid;

        @include flex(space-between, center) {}

        margin: 0 auto;
        padding: 20px 0;

        >a {
            @include font(600, 25px);
            color: white;
        }

        >div {
            color: white;
            @include font(900, 1.5rem);
        }

        >ul {
            @include flex(space-between, center) {}

            padding: 0;

            .list {
                list-style-type: none;
                padding: 0 40px;
                color: white;

                >a {
                    @include font(600, 14px);
                    color: white;
                }
            }
        }
    }
}


footer {
    position: relative;
    margin-top: 120px;
    width: 100%;
    background-color: #fe5e00;

    .ft {
        color: white;
        padding: 100px 0 80px 0;
    }

    .ft-top {
        width: $wid;
        margin: 0px auto;

        @include flex(space-between, start) {}

        >div:nth-of-type(1) {
            @include flex(space-between, start) {
                flex-direction: column;
            }

            font-size: 15px;
        }

        div:nth-of-type(2) {
            width: 20%;

            @include flex(space-between, start) {}

            align-items: center;

            >p:nth-of-type(2)::after {
                content: 'expand_more';
                font-family: 'Material Symbols Outlined';
                vertical-align: middle;
                font-size: 25px;
                margin: 0 0 0 5px;
            }
        }
    }

    .ft-list {
        @include flex(space-between, center) {
            gap: 25px;
        }

        >li {
            margin: 10px 0;

            &::after {
                content: 'arrow_outward';
                font-family: 'Material Symbols Outlined';
                vertical-align: middle;
                font-size: 10px;
                margin-left: 5px;
            }

        }
    }


    .ft-logo {
        width: $wid;
        margin: 0 auto;

        >svg {
            width: 80%;
            padding: 120px 0 20px 0;
        }
    }

    .ft-last {
        width: $wid;
        margin: 0px auto;
    }

    .ft-sns {
        @include flex(space-between, center) {}

        ;
        width: $wid;
        margin: 10px auto;

        >ul {
            @include flex(space-between, center) {
                gap: 30px
            }

            ;

        }
    }

}

@import "m_reset";